.header-flat h1{
font-size:18px;
margin-top:0
}

.header-flat{
  border:1px solid #dce0e0;
}

.header-flat-details{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  padding:30px;
  padding-left:0
}

#avatar {
  width: 100px;
  height: auto;
}

.header-flat-owner{
  padding:20px
}

.header-flat form{
  margin:20px 0;
  margin-right:0;
  background:#F4F4F4;
  padding:15px;
  border-radius:3px
}
