

<div class= "container" id="team">
  <div class= "row">
    <% data.users.each do |gh_username| %>
      <ul class= "list-inline text-center">
        <div class= "col-xs-12 col-md-3">
          <li>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username.github_nickname}", class: "img-circle test"  %>
            <h1><%= gh_username.name.capitalize %></h1>
          </li>
        </div>
      </ul>
    <% end %>
  </div>
</div>



